<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.luogreen.docker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>20B1196B-4BFD-4FA2-A86E-EA0A66AD635E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE5D843A-5C7E-4795-937C-82CC45EAAE8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33722A95-8001-4B14-8E37-EA7945F75ACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E4996DD-0964-4BB7-9EC2-F44246CCB0F3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4611C85-0335-414A-B225-75B8A6E58A54</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>view the container logs</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>562E0118-8B2B-474A-8C35-B9C3B596779B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>776B3A4B-C8A9-4186-A13F-25E68A90654A</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0FCBB7D-9BA2-4E65-9026-270921AB287D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B6C1C94-5BB5-45E4-8022-080CB26DBD59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31ED006A-F221-4EEB-A09F-773D1FBEB136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40C80FE8-F578-4680-8B92-0A012F8AF52A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2071447F-37FE-4BAA-AE43-7DD7851930B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>562E0118-8B2B-474A-8C35-B9C3B596779B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D6CC81E-5771-407B-9B6E-50DDBF195C92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF511315-A666-41D3-8FFE-003672556975</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20B1196B-4BFD-4FA2-A86E-EA0A66AD635E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D6CC81E-5771-407B-9B6E-50DDBF195C92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40C80FE8-F578-4680-8B92-0A012F8AF52A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>776B3A4B-C8A9-4186-A13F-25E68A90654A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20B1196B-4BFD-4FA2-A86E-EA0A66AD635E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFB96505-868E-4D42-A58B-CDD7B1739097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE5D843A-5C7E-4795-937C-82CC45EAAE8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31ED006A-F221-4EEB-A09F-773D1FBEB136</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB96505-868E-4D42-A58B-CDD7B1739097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B6C1C94-5BB5-45E4-8022-080CB26DBD59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C88CC31F-A8C5-452F-9B88-2ACF833BAD2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02184574-0636-4BE1-9593-E921D08F88A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6FBE5F2-1D5B-4010-9D33-FBEF2F046903</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33722A95-8001-4B14-8E37-EA7945F75ACA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF511315-A666-41D3-8FFE-003672556975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C88CC31F-A8C5-452F-9B88-2ACF833BAD2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0FCBB7D-9BA2-4E65-9026-270921AB287D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFB96505-868E-4D42-A58B-CDD7B1739097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F55333F5-D6D0-48BD-AC03-B8D51D5DAEC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luogreen</string>
	<key>description</key>
	<string>docker container manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>docker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>docker exec -it {query} bash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9E4996DD-0964-4BB7-9EC2-F44246CCB0F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>docker logs -f {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A4611C85-0335-414A-B225-75B8A6E58A54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/docker {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40C80FE8-F578-4680-8B92-0A012F8AF52A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Stop Container {var:x}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2071447F-37FE-4BAA-AE43-7DD7851930B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^stop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6D6CC81E-5771-407B-9B6E-50DDBF195C92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>php main.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>docker manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33722A95-8001-4B14-8E37-EA7945F75ACA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/docker {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C88CC31F-A8C5-452F-9B88-2ACF833BAD2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Start Container</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>02184574-0636-4BE1-9593-E921D08F88A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DF511315-A666-41D3-8FFE-003672556975</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>562E0118-8B2B-474A-8C35-B9C3B596779B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^rm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>20B1196B-4BFD-4FA2-A86E-EA0A66AD635E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/docker {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE5D843A-5C7E-4795-937C-82CC45EAAE8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D6FBE5F2-1D5B-4010-9D33-FBEF2F046903</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Remove Container</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>31ED006A-F221-4EEB-A09F-773D1FBEB136</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>776B3A4B-C8A9-4186-A13F-25E68A90654A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^all</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AFB96505-868E-4D42-A58B-CDD7B1739097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/usr/local/bin/docker ${query:4} $(/usr/local/bin/docker ps --all -q)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B6C1C94-5BB5-45E4-8022-080CB26DBD59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E0FCBB7D-9BA2-4E65-9026-270921AB287D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F55333F5-D6D0-48BD-AC03-B8D51D5DAEC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02184574-0636-4BE1-9593-E921D08F88A4</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2071447F-37FE-4BAA-AE43-7DD7851930B6</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>20B1196B-4BFD-4FA2-A86E-EA0A66AD635E</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>31ED006A-F221-4EEB-A09F-773D1FBEB136</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>33722A95-8001-4B14-8E37-EA7945F75ACA</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>3B6C1C94-5BB5-45E4-8022-080CB26DBD59</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>40C80FE8-F578-4680-8B92-0A012F8AF52A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>562E0118-8B2B-474A-8C35-B9C3B596779B</key>
		<dict>
			<key>note</key>
			<string>control</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>6D6CC81E-5771-407B-9B6E-50DDBF195C92</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>776B3A4B-C8A9-4186-A13F-25E68A90654A</key>
		<dict>
			<key>note</key>
			<string>force remove</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>9E4996DD-0964-4BB7-9EC2-F44246CCB0F3</key>
		<dict>
			<key>note</key>
			<string>login</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A4611C85-0335-414A-B225-75B8A6E58A54</key>
		<dict>
			<key>note</key>
			<string>view logs</string>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>AE5D843A-5C7E-4795-937C-82CC45EAAE8B</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>AFB96505-868E-4D42-A58B-CDD7B1739097</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>C88CC31F-A8C5-452F-9B88-2ACF833BAD2F</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D6FBE5F2-1D5B-4010-9D33-FBEF2F046903</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>DF511315-A666-41D3-8FFE-003672556975</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>E0FCBB7D-9BA2-4E65-9026-270921AB287D</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>F55333F5-D6D0-48BD-AC03-B8D51D5DAEC1</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/luogreen/alfred-workflow-docker</string>
</dict>
</plist>
